In [1]:
import numpy as np
import pandas as pd

In [16]:
df = pd.DataFrame({
    'hours':[8,   11,  9,  5, 7.5, 9.5, 10,  7,  9, 9.5,  8, 10.5,  9, 6.5,  9],
    'score':[56, 70, 51, 24,  30,  66, 48, 36, 42,  61, 39,   87, 73,  48, 46]
})

In [17]:
df.head()

   hours  score
0    8.0     56
1   11.0     70
2    9.0     51
3    5.0     24
4    7.5     30

In [18]:
y = np.array(df.score.values)

In [19]:
y_pred = 8 * df.hours.values -15

In [20]:
y

array([56, 70, 51, 24, 30, 66, 48, 36, 42, 61, 39, 87, 73, 48, 46])

In [21]:
y_pred

array([49., 73., 57., 25., 45., 61., 65., 41., 57., 61., 49., 69., 57.,
       37., 57.])

Mean Absolute Error (MAE)

In [22]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y,y_pred)
print(f"Mean Absolute Error: {mae}")

Mean Absolute Error: 9.333333333333334

Root Mean Absolute Error (MAE)

In [23]:
from sklearn.metrics import root_mean_squared_error
rmse = root_mean_squared_error(y,y_pred)
print(f"Root Mean Absolute Error: {rmse}")

Root Mean Absolute Error: 10.972693379476162

R Squared

In [24]:
from sklearn.metrics import r2_score
r2 = r2_score(y,y_pred)
print(f"R Squared: {r2}")

R Squared: 0.5642312518096708